/*****************************
colour scheme:
  orange:        #FF8800
  pastel orange: #FFBC6F
  blue:          #4A98DD
*****************************/

body {padding:0px;margin:0px; margin-bottom:50px}

.head img {width:100%}
.head, .body, .footer {width:100%;}

.footer {position:fixed;bottom:0;font-size:11px;font-family:monospace;
         text-align:center}
.footer,
a, a:link, a:active, a:visited
        {color:#4A98DD}
.footer a:hover,
a:hover {color:#FF8800}

@media (min-width:1000px){
  .content {width:740px}
}
@media (max-width:1000px){
  .content {width:95%}
}
.content {background-color:rgba(255,255,255,0.9);margin:auto;padding:10px}

.title {text-align:center;font-size:35px}
.tagline {text-align:center;font-size:25px;color:#4A98DD}

.head, .footer {font-family: Lato, sans-serif;font-weight:bold}

h2 {margin-top:50px}
h1, h2, h3, h4, h5, h6 {font-family: Lato, sans-serif;font-weight:bold;color:black}/*#4A98DD}*/
body, p {font-family:sans}
p {text-align:justify}

.head a {text-decoration:none}

.citations li {font-size:90%}

li {margin-bottom:10px;margin-top:10px}

p.pcode {margin-left:50px;margin-right:50px;font-family:monospace}

td.rotated {vertical-align: middle; text-align: center; width:20px}
td.rotated span {-ms-writing-mode: tb-rl; -webkit-writing-mode: vertical-rl; writing-mode: vertical-rl; transform: rotate(180deg); white-space: nowrap;}
td.heading {font-weight:bold;font-size:80%}

table.timetable {border-collapse:collapse}
table.timetable td {border:1px solid #AAAAAA;padding:8px;text-align:center}
table.timetable thead {font-weight:bold;font-size:80%}
table.timetable td.heading {border:none;padding:3px}

.talktitle, .timetabletalktitle {font-family: Lato, sans-serif;font-weight:bold}
.timetabletalkspeaker {font-size:80%;margin-top:5px}

.timetablegrid {
  display:grid;
}
.timetableheading {font-weight:bold;font-size:80%}
.timetablegrid .gridcell {
  text-align:center;
}

.rotated {-ms-writing-mode: tb-rl; -webkit-writing-mode: vertical-rl; writing-mode: vertical-rl; transform: rotate(180deg); white-space: nowrap;}

.timetabletalk {border:1px solid #AAAAAA;margin:2px;padding:5px}
.timetablelisttalk {padding-bottom:10px;padding-left:30px;padding-right:30px}
.timetablelistauthor {padding-top:3px}

a.gridcell, a.gridcell:link, a.gridcell:active, a.gridcell:visited,
a.gridcell:hover
  {color:black;text-decoration:none;}
a.gridcell:hover {background-color:#FFBC6F}

a.falink, a.falink:link, a.falink:active, a.falink:visited,
a.falink:hover
  {text-decoration:none;}
